@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111828;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/PretendardGOVVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}
